.navbar {
    position: absolute;
    top: 0px;
    max-width: 1140px;
    margin: 0 auto; 
    display: flex;
    justify-content: space-between;
    align-items: center;  
    background-color: transparent;
    z-index: 100;
    color: #000000;
}

.navbar-light {
    color: #ffffff !important;
}


/* Experiment */
.nav-logo-white {
    width:94px;
    height:64px;
    display:inline-block;
    background:url(../../image/Logo.png)center/cover,
    rgba(255, 255, 255, 0);
    position:relative;
  }
  
/* Experiment */

.nav-logo {
    width: 80px;
}

.nav-collection {
    display: flex;
    justify-content: space-around;
    flex-basis: 55%;
}

.nav-search {
    flex-basis: 25%;
}

.nav-btn {
    background-color: #f9a51a !important;
    outline: none !important;
    color: #000000 !important;
}