.navbar {
    position: absolute;
    top: 0px;
    max-width: 1140px;
    margin: 0 auto; 
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;  
    background-color: transparent;
    z-index: 100;
    color: #000000;
}

.navbar-light {
    color: #ffffff;
}

.nav-logo {
    width: 80px;
}

.nav-search {
    margin-top: -10px;
    background-color: transparent;
    outline: none;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid rgb(255, 255, 255);
}

::placeholder {
    color: rgb(255, 255, 255);
    opacity: 0.7; 
}
  

.nav-collection {
    display: flex;
    justify-content: space-around;
    flex-basis: 47%;
}

.nav-search {
    flex-basis: 25%;
}

.nav-btn {
    background-color: #f9a51a !important;
    outline: none !important;
    color: #000000 !important;
}

.nav-item {
    margin-top: 5px;
}