* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /* font-family: 'Bebas Neue', cursive; */
  font-family: 'Montserrat', sans-serif;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}